@model IEnumerable<QuanLyNhanSu.Models.TTChamCong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Danh Sách Chấm Công</h2>

<table class="table table-hover text-center ">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.NhanVien.IdNV)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.NgayCC)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TVao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TRa)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ViPham)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.IdNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViPham)
            </td>
            
        </tr>
    }

</table>
